{% extends "layout.html" %}
{% block body %}
<h1>A collection of Q's and their A's</h1>

<div class="q-and-a">
    <div>Q: What's Standard Peasant?</div>
    <div>A: 60 card minimum decks, using Standard legality, with no more than 5 uncommons; the rest must be common.</div>
</div>

<div class="q-and-a">
    <div>Q: Where can I find out what's in Standard right now?</div>
    <div>A: The aptly named <a href="http://whatsinstandard.com/">What's in Standard.com</a></div>
</div>

<div class="q-and-a">
    <div>Q: What happens with the new set in July?</div>
    <div>A: No cards rotate out, Magic Origins becomes legal to add to your decks July 17th</div>
</div>

<div class="q-and-a">
    <div>Q: What if a card is printed at different rarities?</div>
    <div>A: The card's rarity is based on it's printing in its standard-legal set. E.g. Ornithopter is considered common, despite being uncommon in every printing except M15, while Act of Treason is still a common despite its most recent printing being uncommon.</div>
</div>
{% endblock %}


