{% extends "layout.html" %}
{% block body %}
<h3>Note that standings are only updated as fast as Google Drive wants to re-publish.</h3>

It often takes a few minutes to load.<br/><br/>

{% if standings %}
<table>
    <tr>
        <th>Player</th>
        <th>Points</th>
        <th>Total Played</th>
        <th>Won</th>
        <th>Opponents Played</th>
    </tr>
    {% for player in standings %}
    <tr>
        <td>{{ player[0] }}</td>
        <td>{{ player[1] }}</td>
        <td>{{ player[2] }}</td>
        <td>{{ player[3] }}</td>
        <td>{{ player[4] }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
Aww, no standings yet. Play some matches!
{% endif %}
{% endblock %}
