{% extends "layout.html" %}
{% block body %}
<h3>Standings update every 5 minutes</h3>

{% if standings %}
<table>
    <tr>
        <th>Player</th>
        <th>Points</th>
        <th>Games Played</th>
        <th>Record</th>
        <th>Opponents Played</th>
    </tr>
    {% for player in standings %}
    <tr>
        <td>{{ player[0] }}</td>
        <td>{{ player[1] }}</td>
        <td>{{ player[2] }}</td>
        <td>{{ player[3] }} - {{ player[4] }}</td>
        <td>{{ player[5] }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
Aww, no standings yet. Play some matches!
{% endif %}
{% endblock %}
