.q-and-a {
    margin-bottom: 20px;
}

.q {
    font-weight:bold;
}

header{
    background-color: #333;
    border-bottom: 3px solid #005AFF;
}

header h1 {
font-weight: 800;
font-style:italic;
margin:0;
}

#content {
    margin:20px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: 'Open Sans', sans-serif;
}

header, footer {
    padding: 20px;
}

a, a:visited, a:hover {
    text-decoration:none;
    color: #FFA500;
}

header ul, header li {
    display: inline;
    padding:0;
}

header li {
padding: 15px;
}

td {
  text-align: center;
}
